@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Urbanist:wght@300&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

:root {
  --cubicbez: cubic-bezier(0.33, 0.95, 0.72, 0.99);
  --border-size: 1px;
  --font-family: "Cairo", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  color: #3f3f3f;
  background-color: #616161;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  transition: font-size 0.4s ease;
  align-items: center;
}
body ::-moz-selection {
  background-color: #3a3a3a;
  color: white;
}
body ::selection {
  background-color: #3a3a3a;
  color: white;
}

div.max-width-twelve-hundred {
  max-width: 1200px !important;
}

div#navbar {
  width: fit-content;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0.1em 0.5em;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: #3f3f3f;
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}

p#contact-text {
  gap: 0.5em;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  font-size: 18px !important;
}

div#selected-works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  animation: fadeFromLeft 0.4s ease forwards;
  transition: all 0.4s ease;
  padding: 0 25px 25px 25px;
}

div#selected-works > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  gap: 0.5em;
  /* max-width: fit-content; */
  flex-grow: 1;
}

div#selected-works a {
  transition: filter 0.4s ease, transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  filter: brightness(1) grayscale(1);
}

div#selected-works a:hover {
  filter: brightness(1.4) grayscale(0);
  transform: translate(0, -2px);
}

/* a cool looking sleek a link */

/* body[data-first] {
  --cc: white;
}
body[data-first] div.change-theme div#first {
  border-color: white;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.534);
}
body[data-first] div#one {
  --bg: #540d6e;
  --cl: white;
}
body[data-first] div#two {
  --bg: #ee4266;
  --bc: #2a2a2a;
}
body[data-first] div#three {
  --bg: #ffd23f;
}
body[data-first] div#four {
  --bg: #46e0e4;
}
body[data-first] div#five {
  --bg: #3bceac;
}
body[data-first] div#six {
  --bg: #0ead69;
}
 */

body[data-first] {
  --cc: white;
  --bg2: #ffffff6c;
}
body[data-first] div.change-theme div#first {
  border-color: white;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.534);
}
body[data-first] div#one {
  --bg: #f8f9fa;
  --cl: #2a2a2a;
}
body[data-first] div#two {
  --bg: #e9ecef;
  --bc: #2a2a2a;
}
body[data-first] div#three {
  --bg: #dee2e6;
}
body[data-first] div#four {
  --bg: #ced4da;
}
body[data-first] div#five {
  --bg: #adb5bd;
}
body[data-first] div#six {
  --bg: #979ea4;
}

body[data-second] {
  --cc: #253168;
  color: white;
  --bg2: #150f41;
}
body[data-second] div.change-theme div#second {
  border-color: white;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.534);
}
body[data-second] div#one {
  --bg: #02010a;
  --cl: white;
}
body[data-second] div#two {
  --bg: #04052e;
  --bc: #ffffff;
}
body[data-second] div#three {
  --bg: #140152;
}
body[data-second] div#four {
  --bg: #22007c;
}
body[data-second] div#five {
  --bg: #0d00a4;
}
body[data-second] div#six {
  --bg: #1000c0;
}

body[data-third] {
  background-color: #232929;
  --cc: #255b5d;
  --bg2: #c4dce0;
}
body[data-third] div.change-theme div#third {
  border-color: white;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.534);
}

body[data-third] div#one {
  --bg: #ecf4d6;
}
body[data-third] div#two {
  --bg: #9ad0c2;
  --cl: #505050;
  --bc: #505050;
  --cl2: white;
}
body[data-third] div#three {
  --bg: #2d9596;
  --cl: #2b8b8d;
}
body[data-third] div#four {
  --bg: #2b8b8d;
  --cl: white;
}
body[data-third] div#five {
  --bg: #327b7d;
  --cl: white;
}
body[data-third] div#six {
  --bg: #265073;
  --cl: white;
}

body[data-fourth] {
  background-color: #b4b4b4;
}
body[data-fourth] div.change-theme div#fourth {
  border-color: white;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.534);
}
body[data-fourth] div#one {
  --bg: #fe5f55;
}
body[data-fourth] div#two {
  --bg: #eef5db;
  --cl: white;
  --bc: #757575;
}
body[data-fourth] div#three {
  --bg: #4f6367;
  --cl: white;
}
body[data-fourth] div#five {
  --bg: #7a9e9f;
  --cl: white;
}
body[data-fourth] div#six {
  --bg: #b8d8d8;
  --cl: white;
}

* {
  box-sizing: border-box;
}

p {
  padding: 25px;
  font-size: 19px;
}

.span-all-rows {
  grid-row: 1/-1;
}

a {
  text-decoration: underline;
  color: var(--cl);
}

*[data-section] > a{
  text-decoration: none;
  color: var(--cl);
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

div.intro {
  margin-top: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1.7em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}
div.intro h1.title {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  -webkit-animation: fadeFromLeft 1s ease forwards;
  animation: fadeFromLeft 1s ease forwards;
  opacity: 0;
  display: flex;
  position: relative;
}

span.name-fa {
  display: block;
}

span.name {
  display: block;
  /* margin: 0 0.1em 0 0.2em; */
}

span#n {
  /* margin-left: 0.2em; */
}

div.intro h3 {
  padding: 0 0 0 0.4em;
  border-left: var(--border-size) solid var(--bc);
}
div.intro h3.one {
  -webkit-animation: fadeFromLeft 1s 0.5s ease forwards;
  animation: fadeFromLeft 1s 0.5s ease forwards;
  opacity: 0;
  margin: auto 0 0 0;
}
div.intro h3.two {
  margin: 0.5em 0 auto 0;
  opacity: 0;
  -webkit-animation: fadeFromLeft 1s 1s ease forwards;
  animation: fadeFromLeft 1s 1s ease forwards;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

div#intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  margin-bottom: 2em;
  gap: 1em;
  max-width: 900px;
  padding: 1em;
}

div#intro-text > p {
  animation: fadeFromLeft 1s ease forwards;
  font-size: 25px;
  margin-top: 0;
}

div[data-section] {
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  position: relative;
  min-height: 10em;
}
div[data-section] h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
div[data-section] div.content {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 160px;
  left: -10px;
  transition: all 0.4s ease;
  overflow-y: auto;
  z-index: 2;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  overflow: hidden;
  max-width: 900px;
  right: 0;
  margin: 0 auto;
  gap: 1em;
  padding: 1em;
}
div[data-section] div.show-content {
  opacity: 1;
  left: 0;
  pointer-events: all;
}

div.change-theme {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0.6em;
  min-height: 50%;
  left: 5%;
  top: 5%;
}
div.change-theme div {
  box-shadow: 0 0.4em 10px rgba(0, 0, 0, 0.418);
  transition: all 0.4s ease;
  width: 25px;
  min-width: 25px;
  height: 25px;
  max-height: 25px;
  cursor: pointer;
}
div.change-theme div:hover {
  filter: brightness(1.2);
}
div.change-theme div#first {
  background: linear-gradient(
    130deg,
    #f8f9fa 0%,
    #e9ecef 40%,
    #dee2e6 50%,
    #ced4da 75%,
    #979ea4 100%
  );
}
div.change-theme div#second {
  background: linear-gradient(
    130deg,
    #02010a 0%,
    #04052e 20%,
    #140152 50%,
    #22007c 75%,
    #0d00a4 100%
  );
}
div.change-theme div#third {
  background: linear-gradient(
    130deg,
    #ecf4d6 0%,
    #9ad0c2 20%,
    #2d9596 50%,
    #327b7d 75%,
    #255b5d 100%
  );
}

div.accordion {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10em;
}
div.accordion div {
  width: 100%;
  transform-origin: top;
  min-height: 10em;
}
div.accordion div.animate-uno {
  -webkit-animation: anima2 0.3s ease-in-out forwards;
  animation: anima2 0.3s ease-in-out forwards;
}
div.accordion div.animate-dos {
  -webkit-animation: anima2 0.2s ease-in-out forwards;
  animation: anima2 0.2s ease-in-out forwards;
}
div.accordion div.animate-tres {
  -webkit-animation: anima2 0.1s ease-in-out forwards;
  animation: anima2 0.1s ease-in-out forwards;
}

div#one {
  background-color: var(--bg);
  width: 100%;
  color: var(--cl);
}

div#two {
  background-color: var(--bg);
  width: 100%;
  color: var(--cl);
}

div#three {
  background-color: var(--bg);
  color: var(--cl);
}

div#four {
  background-color: var(--bg);
  color: var(--cl);
}

div#five {
  background-color: var(--bg);
  width: 100%;
  color: var(--cl);
}

div#six {
  background-color: var(--bg);
  width: 100%;
  color: var(--cl);
}

div.fouralt {
  background-color: #ffd23f;
  transform: rotateX(90deg);
  transform-origin: bottom;
  width: 100%;
  height: 10em;
}

div[data-section] > div.accordion > div.animate2-uno {
  -webkit-animation: anima2rev 0.3s ease-in-out forwards;
  animation: anima2rev 0.3s ease-in-out forwards;
}

div[data-section] > div.accordion > div.animate2-dos {
  -webkit-animation: anima2rev 0.2s ease-in-out forwards;
  animation: anima2rev 0.2s ease-in-out forwards;
}

div[data-section] > div.accordion > div.animate2-tres {
  -webkit-animation: anima2rev 100ms ease-in-out forwards;
  animation: anima2rev 100ms ease-in-out forwards;
}

div.card {
  position: relative;
  background-color: var(--cc);
  padding: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.233);
  display: flex;
  flex-direction: column;
}

div#four .card > a {
}

div.links a {
  transition: filter 0.4s ease;
  filter: drop-shadow(2px 4px 6px rgba(185, 185, 185, 0));
}
div.links a:hover,
div.links image {
  filter: drop-shadow(0 0 6px rgb(255, 255, 255));
}

div#image-wrapper {
  max-height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  background-color: rgba(97, 97, 97, 0.466);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3803921569);
}

div#image-wrapper button#close-btn {
  all: unset;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
div#image-wrapper button.navigator {
  all: unset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.274);
  padding: 0.4em;
  opacity: 0.3;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
div#image-wrapper button.navigator:hover {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.747);
}
div#image-wrapper button#next-btn {
  position: absolute;
  right: 0;
  -webkit-animation: nextAnima 2s cubic-bezier(0.23, 1, 0.32, 1);
  animation: nextAnima 2s cubic-bezier(0.23, 1, 0.32, 1);
}
div#image-wrapper button#prev-btn {
  position: absolute;
  left: 0;
  -webkit-animation: prevAnima 2s cubic-bezier(0.23, 1, 0.32, 1);
  animation: prevAnima 2s cubic-bezier(0.23, 1, 0.32, 1);
}

form#contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  margin: 1em;
  padding: 1em;
  background-color: var(--bg2);
  max-width: 500px;
}

form#contact-form input,
form#contact-form textarea {
  padding: 0.5em;
  background-color: var(--bg);
  color: var(--cl);
  border: none;
  resize: vertical;
  font-size: 16px;
  font-family: var(--font-family);
}

form#contact-form input:focus,
form#contact-form textarea:focus,
form#contact-form button[type="submit"]:focus {
  outline: 1px solid var(--bc);
  border-radius: 0;
}

form#contact-form button[type="submit"] {
  all: unset;
  text-align: center;
  padding: 0.5em 2em;
  width: fit-content;
  margin: 0 auto 1em auto;
  background-color: var(--bg);
  color: var(--cl);
  cursor: pointer;
  transition: all 0.4s ease;
}

form#contact-form button[type="submit"]:disabled {
  filter: contrast(0.5);
}

form#contact-form.collapsed {
  display: none;
}

#result {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

img.modal-image {
  display: flex;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

div.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  inset: 0;
  background-color: rgba(66, 66, 66, 0.678);
  box-shadow: 0 0 190px 10px black inset;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 999;
  padding: 1em;
}

div.modal.visible {
  pointer-events: all;
  opacity: 1;
}

div.close-btn {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 80%;
  background-color: #0ead69;
}

[data-image] {
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}

@-webkit-keyframes fadeFromLeft {
  from {
    margin-left: -10px;
    margin-right: 10px;
    opacity: 0;
  }
  to {
    margin-right: 0;
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes fadeFromLeft {
  from {
    margin-left: -10px;
    margin-right: 10px;
    opacity: 0;
  }
  to {
    margin-right: 0;
    margin-left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes anima2 {
  from {
    background-color: #a1a1a1;
    transform: rotateX(90deg);
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  }
  to {
    background-color: var(--bg);
    transform: rotateX(0deg);
    height: 120px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 101%, 0 101%);
    clip-path: polygon(0 0, 100% 0, 100% 101%, 0 101%);
  }
}
@keyframes anima2 {
  from {
    background-color: #a1a1a1;
    transform: rotateX(90deg);
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  }
  to {
    background-color: var(--bg);
    transform: rotateX(0deg);
    height: 120px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 101%, 0 101%);
    clip-path: polygon(0 0, 100% 0, 100% 101%, 0 101%);
  }
}
@-webkit-keyframes anima2rev {
  0% {
    background-color: var(--bg);
    transform: rotateX(0deg);
    height: 120px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 101%, 0 101%);
    clip-path: polygon(0 0, 100% 0, 100% 101%, 0 101%);
    opacity: 1;
  }
  20% {
    background-color: var(--bg);
    transform: rotateX(30deg);
    height: 120px;
    -webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
    clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
    opacity: 1;
  }
  100% {
    background-color: #a1a1a1;
    transform: rotateX(90deg);
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    opacity: 1;
  }
}
@keyframes anima2rev {
  0% {
    background-color: var(--bg);
    transform: rotateX(0deg);
    height: 120px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 101%, 0 101%);
    clip-path: polygon(0 0, 100% 0, 100% 101%, 0 101%);
    opacity: 1;
  }
  20% {
    background-color: var(--bg);
    transform: rotateX(30deg);
    height: 120px;
    -webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
    clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
    opacity: 1;
  }
  100% {
    background-color: #a1a1a1;
    transform: rotateX(90deg);
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    opacity: 1;
  }
}
@-webkit-keyframes nextAnima {
  0% {
    right: 20px;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 0.3;
  }
}
@keyframes nextAnima {
  0% {
    right: 20px;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 0.3;
  }
}
@-webkit-keyframes prevAnima {
  0% {
    left: 20px;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 0.3;
  }
}
@keyframes prevAnima {
  0% {
    left: 20px;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 0.3;
  }
}

@keyframes char_move_to_top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px) rotateX(50deg);
    opacity: 0;
  }
}

@keyframes char_move_from_top {
  0% {
    transform: translateY(-30px) rotateX(50deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) rotateX(0);
    opacity: 1;
  }
}

@keyframes char_move_to_bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30px) rotateX(-50deg);
    opacity: 0;
  }
}

@keyframes char_move_from_bottom {
  0% {
    transform: translateY(30px) rotateX(-50deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) rotateX(0);
    opacity: 1;
  }
}

div#about-me-image {
  position: relative;
  transform: rotate(-5deg);
  margin-left: 20px;
  bottom: 20px;
}

@media only screen and (max-width: 744px) {
  div#about-me-image {
    transform: none;
    margin-left: 0;
    bottom: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 461px) {
  div.intro h1 {
    font-size: 28px;
  }
  div.intro h3 {
    font-size: 17px;
  }
} /*# sourceMappingURL=style.css.map */
