/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

html {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #3786d1;
  font-family: "Noto Sans Mono", monospace;
  font-size: 22px;
  min-height: 100%;
}

div#main {
  max-width: 900px;
  margin: 0 auto;
  background-color: transparent;
  padding: 1em;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: underline;
}

iframe {
  border: none;
  width: 100%;
}

::-moz-selection {
  color: white;
  background: rgb(58, 58, 58);
}

::selection {
  color: white;
  background: rgb(58, 58, 58);
}
